streamlit
pandas
numpy
plotly
yfinance
matplotlib
scikit-learn
prophet
python-dotenv
pillow
requests
ta
polygon-api-client
streamlit-autorefresh
scipy
aiohttp
nest_asyncio
streamlit-authenticator
playwright
seaborn
quantlib

