# Core
streamlit
streamlit-autorefresh
streamlit-authenticator

# Data manipulation & analysis
pandas
numpy
scipy
ta
yfinance
requests
aiohttp
nest_asyncio

# Visualization
plotly
matplotlib
seaborn

# Machine learning & stats
scikit-learn
prophet
pystan
statsmodels

# Financial & quantitative libraries
quantlib
polygon-api-client

# Images & assets
pillow
python-dotenv

# Browser automation / testing
playwright

# Excel support
openpyxl
xlsxwriter
